/* info.css */

/* Фон для модального окна */
.info-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Начальная непрозрачность (модалка невидима) */
    pointer-events: none; /* Чтобы модальное окно не блокировало клики, когда оно скрыто */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход для opacity и visibility */
}

/* Когда модалка открыта (visible) */
.info-modal-overlay.show {
    opacity: 1; /* Сделать модалку видимой */
    pointer-events: auto; /* Разрешить взаимодействие с модалкой */
}

/* Когда модалка закрывается */
.info-modal-overlay.closing {
    opacity: 0; /* Скрыть модалку с анимацией */
    pointer-events: none; /* Блокируем взаимодействие */
}

/* Стили для контента модального окна */
.info-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    transform: translateY(-50px); /* Сдвиг вверх для анимации */
    transition: transform 0.3s ease; /* Плавное движение */
    max-width: 600px;
    width: auto;
    max-height: 720px;
    height: auto;
}

/* Когда модалка открыта, контент перемещается в нормальное положение */
.info-modal-overlay.show .info-modal-content {
    transform: translateY(0); /* Сдвиг в начальную позицию */
}


/* Кнопка для закрытия окна */
.info-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.text-into-info {
    max-width: 70ch; /* Ограничение длины строки */
    overflow: hidden; /* Прячет избыточный текст */
    text-overflow: ellipsis; /* Добавляет многоточие в конце строки */
    white-space: nowrap; /* Предотвращает перенос текста на следующую строку */
}

.config-box {
    background-color: #f4f4f4; /* Светло-серый фон для выделения */
    padding: 3px;
    max-height: 176.5px;
    border-radius: 5px;
    font-family: monospace; /* Шрифт с фиксированной шириной для удобства чтения */
    word-break: break-word; /* Автоматический перенос длинных слов */
    white-space: pre-wrap; /* Перенос строк, если текст слишком длинный */
    overflow-x: auto; /* Горизонтальная прокрутка для длинных строк */
}

.info-modal-content h3{
    margin:3px;
}

.info-user-status{
    justify-content: space-between;
    display: flex;
}

.max-width-config-box{
    width: 33%;
}

.copy {
    position: absolute;
    top: 45px;
    right: 8px;
    padding: 0;
    font-size: 12px;
    background-color: #f4f4f4;
    color: white; /* Белый текст */
    border: none; /* Убираем границы */
    border-radius: 3px; /* Скругляем углы */
    cursor: pointer; /* Указатель при наведении */
    transition: .3s ease;
}

.copy-icon{
    width: 14px;
}

.copy:active {
    transform: scale(0.9);
}

.qr {
    position: absolute;
    top: 45px;
    right: 30px;
    padding: 0;
    font-size: 12px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;
}

.qr:active{
    transform: scale(0.9);
}

.qr-icon{
    width: 14px;
}

.buttons-config-box{
    display: flex;
    justify-content: center;
}

.qr-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-pt-height {
    height: 6vh;
}