.auth-page-wrapper {
  background: linear-gradient(
    315deg,
    rgba(238, 223, 94, 1) 0%,
    rgba(40, 158, 127, 1) 16%,
    rgba(11, 137, 142, 1) 33%,
    rgba(0, 212, 255, 1) 50%,
    rgba(255, 150, 150, 1) 66%,
    rgba(153, 102, 204, 1) 83%,
    rgba(0, 75, 160, 1) 91%,
    rgba(255, 120, 80, 1) 100%
  );
  background-size: 400% 400%; /* Увеличиваем размер градиента для эффекта переливания */
  background-attachment: fixed;
  animation: gradient 30s infinite ease; /* Анимация движения */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 12em;
  opacity: 0.8;
  background: rgb(255, 255, 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  animation: wave 10s -3s linear infinite;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s linear reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.auth-form {
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px !important;
  height: 450px !important;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s ease-in-out;
  padding: 40px;
}

.auth-form:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.auth-form h1 {
  overflow: hidden;
  font-size: 3.5rem;
  line-height: 4.5rem;
  margin: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Плавное изменение прозрачности */
}

.auth-form h1.show {
  opacity: 1;
}

.auth-input-control {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px; /* Высота для размещения контента */
  gap: 10px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.auth-input-control.fade-out {
  opacity: 0;
  transform: scale(0.95); /* Добавляем легкий эффект уменьшения */
  pointer-events: none; /* Блокируем взаимодействие во время анимации */
}

.auth-input-control.fade-in {
  opacity: 1;
  transform: scale(1);
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.auth-login-btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(0, 135, 113);
  border: none;
  position: relative; /* Для позиционирования псевдоэлемента относительно кнопки */
  overflow: hidden; /* Чтобы блик не выходил за пределы кнопки */
  transition: 0.3s ease;
}

.auth-login-btn:hover {
  background-color: rgb(25, 81, 65);
  width: 90%;
  height: 50px;
}

.auth-input-styler-password {
  height: 50px;
  width: 100%;
  padding: 0px 0px 0px 45px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: rgb(240, 248, 255, 0.3);
  color: gray;
  font-size: 18px;
  background-image: url("../../public/auth-icons/key-chain.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.auth-input-styler-user {
  height: 50px;
  width: 100%;
  padding: 0px 0px 0px 45px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: rgb(240, 248, 255, 0.3);
  color: gray;
  font-size: 18px;
  background-image: url("../../public/auth-icons/user.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.auth-input-styler-password:hover {
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
}

.auth-input-styler-user:hover {
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
}

.auth-input-styler-password:focus {
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
  box-shadow: 0 0 1px 1px rgba(58, 211, 186, 0.7);
}

.auth-input-styler-user:focus {
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
  box-shadow: 0 0 1px 1px rgba(58, 211, 186, 0.7);
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%; /* Начало движения */
  }
  20% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 100% 50%; /* Градиент "переливается" */
  }
  80% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 0% 50%; /* Возвращение в исходное положение */
  }
}
