/* Модальное окно */
.add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0; /* Сначала невидимо */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Плавное изменение */
}

.add-modal-overlay.show {
  opacity: 1; /* Видимость */
  transform: scale(1); /* Нормальный масштаб */
}

.add-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  text-align: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.add-modal-overlay.show .add-modal-content {
  transform: translateY(0); /* Обычное положение */
  opacity: 1; /* Сделать содержимое видимым */
}

/* Стили для кнопки закрытия */
.add-modal-overlay button {
  padding: 10px 20px;
  border: none;
  background-color: #ed0606;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.add-modal-overlay button:hover {
  background-color: #e90e0e;
}

.user {
  background-image: url("../../../../public/auth-icons/user.svg");
}

.description {
  background-image: url("../../../../public/auth-icons/desc.svg");
}

.tg {
  background-image: url("../../../../public/auth-icons/telegram.svg");
}

.public {
  background-image: url("../../../../public/auth-icons/public.svg");
}

.private {
  background-image: url("../../../../public/auth-icons/private.svg");
}

.config {
  background-image: url("../../../../public/auth-icons/config.svg");
}
.modal-input-styler {
  height: 50px;
  width: 100%;
  padding: 0px 0px 0px 45px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: rgb(240, 248, 255, 0.3);
  color: gray;
  font-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.modal-input-styler:hover {
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
}

.modal-input-styler:focus {
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
  box-shadow: 0 0 1px 1px rgba(58, 211, 186, 0.7);
}

.modal-input-controller {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.add-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../../../../public/auth-icons/close.svg");
  background-size: contain; /* Масштабируем иконку по размеру контейнера */
  background-repeat: no-repeat;
  cursor: pointer;
}

.add-modal-button-submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  background-color: rgb(240, 248, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: gray;
  transition: 0.3s ease;
  cursor: pointer;
}

.add-modal-button-submit:hover {
  color: rgba(0, 0, 0, 0.7);
  width: 130px;
  background-color: rgb(0, 135, 113, 0.1);
  border: 1px solid rgb(0, 135, 113);
  box-shadow: 0 0 1px 1px rgba(58, 211, 186, 0.7);
}
