.switch-button {
  width: 40px;
  height: 20px;
  background-color: #d2d2d2;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.switch-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.switch-button::before {
  position: absolute;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 200px;
  /* margin: 5px; */
  transition: 0.2s;
}

.switch-container input:checked + .switch-button {
  background-color: rgb(0, 135, 113);
}
.switch-container input:checked + .switch-button::before {
  transform: translateX(20.2px);
}

.switch-container input {
  display: none;
}
